.gantt-chart {
    position: relative;
    width: 100;
    overflow-y: hidden;
}

.hide-scrollbar::-webkit-scrollbar { 
  display: none; 
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.horizontal-scale {
  display: flex;
}
  
.gantt-time-slot {
  min-width: 4vw !important;
  text-align: center;
}

.gantt-task {
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 5px;
  position: absolute;
  margin-top: 0.5vh;
}

.row {
  height: 4vh;
  display: flex;
}

.category {
  width: 7vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bar {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}